
<h2> Hello, <%= @user.email%>! </h2>

<h4> Here's a list of the supplies you've added to <bold> Tools for School</bold></h4>


<% @user.supplies each do |supply| %>
<h3> <%= supply.name%> </h3>
<%end%> 
