
<% if @supply.errors.any?%>

  <div class= "error_explanation">
    <h2> <%= pluralize(@supply.errors.count, "error")%> occurred regarding <%=@supply.name%>.
       Please try again.</h2>

      <ul>
      <% @supply.errors.full_messages.each do |error|%>
        <li><%= error %> </li> <br>
      <%end%>
      <ul>
      </div>
    <%end%>
