
<h1> Need a New Supply? </h1>

<%= render partial:'errors'%>
<br>
<br>
<%= form_for @supply, url: supplies_path do |f|%>
<%= render partial: 'form', locals: {f: f} %>
<%end%>



<script type="text/javascript" charset="utf-8">
  $(function(){
    $('form').submit(function(event){
      event.preventDefault();
      var values = $(this).serialize()
      var posting = $.post("/supplies", values)
      posting.done(function(data){
        var supply = data
        console.log(data)
      })

    })
  })

</script>
