<%if @supply.errors.any?%>
  <%=render partial: 'errors'%>

  <h2> If you'd like to try donating again: </h2>
  <br>
  <%= render partial: 'donate', locals:{supply:@supply}%>
  <%else%>

    <h1> Thank you for donating towards: <bold> <%= @supply.name%> </bold>  </h1>

<%end%>



<%=link_to "Click here to go back to #{@supply.category.name}", category_path(@supply.category)%>

<br>



<br>
