<%if @supply.errors.any?%>
  <%=render partial: 'errors'%>

  <h2> If you'd like to try donating again: </h2>
  <br>
  <%= render partial: 'donate', locals:{supply:@supply}%>
  <%else%>

    <%#<h2> Thank you for donating towards: <bold> <%= @supply.name </bold>  </h2> %>

<%end%>


<h3> <%=link_to "Click here to go back to #{@supply.category.name}", category_path(@supply.category)%></h3>

<br>



<br>
