// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category{
    display:inline-block;
}
h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #004d99;
  margin-left: 20px;

}

p{
font-family: "Open Sans Condensed", sans-serif;
font-size: 30px;
color: black;
margin-left: 20px;



}
.supply-heading {
  font-size: 70px;

}

h4 {

   font-size: 40px;
   margin-left: 20px;

}

button {
  margin-left: 30px;



}
.supply-form{
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 4px;
  width: 400px;
  height: 600px;
  text-align: center;
  display: inline-block;
  visibility: hidden;

}

body{
  font-family: 'Amatic SC', cursive;
  text-align: center;

}
