// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3 {
  font-family: "Shadows Into Light", cursive;
  font-size: 45px;
  color: #004d99;
  margin-left: 20px;

}

p{
font-family: "Amatic SC", cursive;
font-size: 30px;
color: black;
margin-left: 20px;


}
h4 {

   font-size: 30px;
   margin-left: 20px;
}

.buttons {




}


body{
  font-family: 'Amatic SC', cursive;
}
