
<h1 id="toolsforschool"> Tools For School </h1>


<% @categories.each do |category|%>
<h3> <%= category.name %></h3>

<div id="category-supplies-<%=category.id%>">
</div>
<button id = "seeMore" class="js-more" data-id="<%=category.id%>">See <%= category.name%></button>


<%end%>



<script type="text/javascript" charset="utf-8">
$(function(){
  $(".js-more").on("click", function(){
    var id= $(this).data("id");
    $.get("/categories/" + id + "/supplies_data", function(data) {
      var supplies = data ;
      var list = document.getElementById("category-supplies-" + id)
      supplies.forEach(function(supply){
        list.innerHTML+='<p>' + supply.name + ' | $' + supply.price + ' <br> <div id="supply-div" data-supplyId="'+ supply.id +'"></div></p><button id="seeSupply" data-categoryId="' + id +'" data-id="' + supply.id +'">More</button><br>'
      });

    });
  });

})
</script>
